[user]
	name = Craige McWhirter
	email = craige@mcwhirter.io
	email = craige.mcwhirter@iohk.io
	signingkey = 0x7E66C3B5CDE94A4A
[push]
	default = simple
[gitreview]
	username = craige

[url "git+ssh://USER@git.launchpad.net/"]
    insteadof = lp:
[commit]
	gpgsign = true
[color]
	ui = always
#[includeIf "gitdir:~/source/IOHK/"]
#    path = ~/.gitconfig-iohk

