[user]
	name = Craige McWhirter
	email = craige@mcwhirter.io
	signingkey = A4122FF3971B6865
[push]
	default = simple
[gitreview]
	username = craige

[url "git+ssh://USER@git.launchpad.net/"]
    insteadof = lp:
[commit]
	gpgsign = true
